<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\PublicationsAuthor[]|\Cake\Collection\CollectionInterface $publicationsAuthors
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Publications Author'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Publications'), ['controller' => 'Publications', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Publication'), ['controller' => 'Publications', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Authors'), ['controller' => 'Authors', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Author'), ['controller' => 'Authors', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="publicationsAuthors index large-9 medium-8 columns content">
    <h3><?= __('Publications Authors') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('publication_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('author_id') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($publicationsAuthors as $publicationsAuthor): ?>
            <tr>
                <td><?= $this->Number->format($publicationsAuthor->id) ?></td>
                <td><?= $publicationsAuthor->has('publication') ? $this->Html->link($publicationsAuthor->publication->title, ['controller' => 'Publications', 'action' => 'view', $publicationsAuthor->publication->id]) : '' ?></td>
                <td><?= $publicationsAuthor->has('author') ? $this->Html->link($publicationsAuthor->author->id, ['controller' => 'Authors', 'action' => 'view', $publicationsAuthor->author->id]) : '' ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $publicationsAuthor->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $publicationsAuthor->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $publicationsAuthor->id], ['confirm' => __('Are you sure you want to delete # {0}?', $publicationsAuthor->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
